
@font-face {
  font-family: "Marbra";
  src: url('Marbra-Regular.woff') format('woff');
}

@font-face {
  font-family: "ZellaGrotesk";
  src: url('ZellaGrotesk-Regular.woff') format('woff');
}

body {
  font-family: Marbra;
  font-size: 56px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  /* letter-spacing: 0.02em; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 56px;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 23.5px;
}

.content {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 480px;
}

.image {
  width: auto;
  height: 520px;
  padding-bottom: 4px;
}

.image img {
  height: 100%;
}

.monogramme {
  display: flex;
  bottom: 0;
  position: absolute;
  z-index: 5;
  width: 100%;
}

.coming {
  font-family: ZellaGrotesk;
  text-transform: uppercase;
  display: flex;
  position: absolute;
  z-index: 5;
  font-size: 98px;
  margin-top: 90px;
  letter-spacing: 0.02em;
}
